html {
    min-height:100%;
    position:relative
}

body {
    height: 100%;
    background-color: black;
}

#container {
    display: none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    padding: 0;
    margin: 0;
    text-align: center;
    background: url('/img/stars.jpg') repeat;
}

#earth {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s, 1s;
    -webkit-transition-timing-function: ease, ease;

    -moz-transition-property: height, width;
    -moz-transition-duration: 1s, 1s;
    -moz-transition-timing-function: ease-in, ease-in;
}

#right-sidebar {
    z-index: 100;
    background-color: black;
    width: 50px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    right: -40px;
    border-radius: 10px 0px 0px 10px;
    opacity: .4;
    -webkit-transition-property: opacity, right;
    -webkit-transition-duration: .15s, .15s;
    -webkit-transition-timing-function: linear, ease-in-out;
}

#right-sidebar .button-cover {
    text-align: center;
    margin: 5px 5px;
}

#right-sidebar img {
    -webkit-transition-property: margin-right
    -webkit-transition-duration: .15s;
}

#right-sidebar:hover {
    opacity: .7;
    right: 0px;
}

#right-sidebar img:hover {
    margin-right: 5px;
    cursor:pointer;
}

.fb-login-button {
    margin-top: 50px;
}


.hide {
    display:none;
}
